@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
:root {
    --color:#4502c7 ;
}
* {
    font-family: "Lexend Deca", sans-serif;

}
a {
    text-decoration: none;
}
.body {

}
/* top-header  */
.top-header {
    background-color: var(--color);
    padding: 10px 0;
}
.container {
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
}
.top-header .inner-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 5px 40px;
}
.top-header .inner-icon {
    color: #fffbeb;
    font-size: 14px;
    font-weight: 400;
    /* inline la 1 hang flex xep thang 1 hangf */
    display: inline-flex; 
    align-items: center;
    gap : 8px;

}
.top-header .inner-icon i {
    font-size: 20px;
    
}
/* end top-header  */
/* header  */
.header {
    background-color: #ffffff;
    padding: 12px 0;
}
.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-wrap .logo img {

   width: auto;
   height: 50px;
}
.header .inner-menu >ul {
    display: flex;
    gap: 5px 50px;
}
.header .inner-menu >ul >li {
    position: relative;
}
.header .inner-menu >ul> li> a {

  font-weight: 500;
  font-size: 16px;
  color: #25282b;
  text-transform: capitalize;
}
.header .inner-cart img {
    width: 20px;height: 20px;
    background-color: #ffffff;
}
.header .inner-menu >ul> li> a:hover {
    color: var(--color);
}
.header .inner-menu >ul >li > ul{
    position: absolute;
    top: 100%;
    padding : 8px 0;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    width: 280px;
    z-index: 999;
    display: none;
}
.header .inner-menu >ul >li:hover > ul {
    display: block;
}
.header .inner-menu >ul >li > ul >li> a {
 font-weight: 400;
 font-size: 16px;
    color: var(--color);
    padding: 8px 20px;
    display: block;
}
.header .inner-menu >ul >li > ul >li> a:hover {
    background-color: var(--color);
    color: #ffffff;
}
/* End header  */