@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #568aff;
    background-image: url(https://statictuoitre.mediacdn.vn/thumb_w/640/2017/7-1512755474943.jpg);
     background-size: cover;       /* phủ full */
  background-position: center;  /* căn giữa */
  background-repeat: no-repeat; /* không lặp */
  height: 100%;
}

.container {
    width: 430px;
    margin-left: auto;
    margin-right: auto;

}
.container .box {
    margin: 20px;
}
.inner-box {
    background-color: #fff;
    border-radius : 10px;
    margin-top: 145px;
    padding: 40px 40px 20px 40px;
    background: rgba(223, 215, 215, 0.336);
}
.sign-in {
    text-align: center;
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
}
.content {
    text-align: center;
    padding-bottom: 10px;
}
.email, .password, .date {
    display: flex;
    flex-direction: column;

}
.inner-forget {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.note-pass {
    display: flex;
    justify-content : space-between;
    padding-top: 10px;
}
.use-name {
    padding-bottom :5px;

}
.email {
    padding-top: 4px;
    padding-bottom :9px;
}
.password {
    padding-top :7px;
        padding-bottom :7px;
}
.email .input {
    padding-bottom: 10px;
}
.input {
    width: 100%;
    height: 35px;
    border-radius: 7px;
}
button {
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    border-radius: 999px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    background-color: #03bcfa;
    margin-top :12px;
    margin-bottom: 20px;
}
button:hover {
    background-color: #02a7de
}
.dang-nhap a {
    text-decoration: none;
    color: #333;
}
.dangky a {
     color: #333;
     text-decoration: none;
}
.dangky a:hover {
    color: violet;

}
.inner-box-date .date {
    padding-top: 7px;
    padding-bottom: 8px;
    
}
.inner-box-date .date input {
    width: 100%;
    height: 35px;
    border-radius: 7px;
}

